main{
	margin-top: 190px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 50px;
	background-color: rgb(248, 249, 251);
	padding-top: 20px;
	line-height: 20px;
}

.abt-cont>div, .mis-cont>div, .vis-cont>div, .ttl {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-family: 'Helvetica';
	font-size: 20px;
}

.abt-cont>p, .mis-cont>p, .wwd-cont>div>ul, .vis-cont>p, .val-cont>div>ul, 
.fil-cont>div {
	font-family: 'Open Sans';
}