main{
	padding-bottom: 70px;
	padding-left: 100px;
	padding-right: 100px;
	flex: 1;
}

 body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-container{
	display: grid;
	grid-template-columns: 1fr;
	gap: 60px;
}

.auto-contact-section {
	margin-top: 230px;
	max-width: 1000px;
	padding: 2rem;
	background-color: #f4fcf8;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	font-family: 'Segoe UI', sans-serif;
}     

.auto-contact-section h2 {
	text-align: center;
	margin-bottom: 1rem;
	color: rgba(0, 128, 0, 0.8);
}

.auto-contact-section label {
	display: block;
	margin-top: 1rem;
	font-weight: 600;
}

.auto-contact-section input,
.auto-contact-section textarea {
	width: 100%;
	padding: 0.75rem;
	margin-top: 0.25rem;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 1rem;
}

.auto-contact-section button {
	margin-top: 1.5rem;
	width: 100%;
	padding: 0.75rem;
	background-color: rgba(0, 128, 0, 0.8);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: 1.1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}



.auto-contact-section button:hover {
	background-color: rgba(0, 128, 0, 0.8);
}

.contacts-info-section{
	margin-top: 230px;
	max-width: 400px;
	padding: 5rem;
	background-color: #f8f9fa;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	font-family: 'Segoe UI', sans-serif;
}

.subt{
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 20px;
	color: rgba(0, 128, 0, 0.8);
}

.tagline{
	font-size: 17px;
	margin-bottom: 25px;
}

.email{
	font-size: 17px;
	margin-bottom: 25px;
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.contact-container{
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
}