main{
	position: relative;
}

.pict{
	position: relative;
}

.pictorial{
	width: 100%;
	height: 600px;
	display: block;
}

.pictorial_container{
	position: relative;
	margin-top: 200px;
	object-fit: cover;
	
}

.pictorial-text{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 60%;
	margin-left: 20px;
	color: white;
	background-color: rgba(0, 64, 0, 0.6);
	padding: 20px;
	align-items: left;
	width: 600px;
	height: 200px;
	margin-top: 1px;
	margin-bottom: 20px;
	border-radius: 15px;

}

.pict-text-title{
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.pict-text-sentence{
	font-weight: 500;
	font-size: 1.2rem;
}

/* .pictorial-text>div{
	margin-bottom: 28px;
} */

.partner-button{
	background-color: rgba(2, 90, 7, 0.507);
	width: fit-content;
	padding: 8px 10px 8px 10px;
	border-radius: 20px;
	border: none;
	color: white;
	cursor: pointer;
	transition: 0.2s;
	position: relative;
	margin-top: 10px;
	
}

.partner-button:hover{
	background-color: gray;
	
}

.what_do{
	padding-top: 35px;
	margin-bottom: 0px;
	padding-bottom: 50px;
	background-color: rgba(84, 177, 100, 0.123);
}

.what_we_do_title{
	display: flex;
	justify-content: center;
	color: black;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 70px;
}

.services-grid{
	padding-left: 100px;
	padding-right: 100px;
	color: rgb(163, 163, 163);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

.cap-building-class>a, .rep-class>a, .data-class>a{
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	text-decoration: none;
	color: rgb(163, 163, 163);
}

.cap-building-class>a:hover, .rep-class>a:hover, .data-class>a:hover{
	color: rgb(5, 131, 16);
	cursor: pointer;
	transition: transform 0.3s ease;
	
}

.services-grid>div>a>svg{
	width: 50px;
	margin-bottom: 20px;
}

.projects-section{
	background-color: rgba(30, 168, 48, 0.281);
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	padding-right: 100px;
	line-height: 25px;
	margin-top: 0px;
}

.projects-sect-title{
	color: black;
	display: flex;
	justify-content: center;
	font-size: 28px;
	font-weight: 700;
	padding-bottom: 30px;
}

.projects-tab{
	display: flex;
	flex-direction: column;
	color: black;
}

.project-name{
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 32px;
}

.project-info{
	display: flex;
	flex-direction: row;
}

.project-info>img{
	width: 250px;
	margin-top: 40px;
	margin-bottom: 50px;
	border-radius: 22px;
}

.proj-desc{
	margin-top: 70px;
	margin-left: 50px;
	padding-top: 100px;
	width: 700px;
}

.proj-desc>div{
	margin-top: 8px;
}

.proj-desc>div>a{
	text-decoration: none;
	color: gray;
	font-weight: 700;
	transition: 0.2s;
}

.proj-desc>div>a:hover{
	text-decoration: none;
	color: gray;
	font-weight: 700;
	text-decoration: underline;
}

.latest-updates-section{
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	padding-top: 80px;
	background-color: rgba(84, 177, 100, 0.199);
}

.latest-updates-title{
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
}

.updates-container{
	display: grid;
	grid-template-columns: 1fr;
	padding-left: 100px;
	padding-right: 100px;
	justify-content: space-between;
	margin: auto;
	gap: 30px;
}

.update{
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	margin-left: 8px;
	width: 350px;
	height: 500px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	margin-top: 30px;
}

.update>img{
	height: 150px;
	width: 250px;
	object-fit: fill;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-bottom: 8px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 30px;
	
}

.official-tag{
	margin-top: 8px;
	color: rgb(5, 131, 16);
	font-weight: 600;
	padding-left: 18px;
	padding-right: 18px;
}

.update-title{
	margin-top: 14px;
	color: black;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Helvetica';
	padding-left: 18px;
	padding-right: 18px;
}


.update-line{
	margin-top: 8px;
	color: rgb(74, 74, 74);
	font-weight: 400;
	font-family: "Open Sans";
	font-size: 14px;
	padding-left: 18px;
	padding-right: 18px;
}

.update-more{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 20px;
	color: rgb(74, 74, 74);
	font-family: 'Open Sans';
	font-size: 14px;
}

.date{
	color: rgb(170, 170, 170);
	font-size: 14px;
}

.update-more>a>button{
	font-weight: 700;
	background-color: rgba(84, 177, 100, 0);
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 700px;
	border: none;
	color: rgb(170, 170, 170);
	transition: 0.1s;
}

.update-more>a>button:hover{
	color: black;
	cursor: pointer;
}

.all-news-container{
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.all-news{
	color: rgb(84, 177, 100);
	background-color: rgba(84, 177, 100, 0);
	border: none;
	font-size: 16px;
	font-family: "Open Sans";
	font-weight: bold;
	transition: 0.2s;
}

.all-news:hover{
	cursor: pointer;
	color: rgb(5, 131, 16);
}

@media screen and (min-width: 768px){
	.updates-container{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}