main{
	margin-top: 200px;
}

.news-content{
	padding-left: 100px;
	padding-right: 100px;
	background-color: rgb(248, 249, 251);
	padding-bottom: 70px;
}

.headline{
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 8px;
	font-family: 'Helvetica';
}

.content{
	line-height: 25px;
	font-family: 'Open Sans';
}